include NEWS
include ChangeLog
include COPYING
include INSTALL
include MANIFEST.in
include runtime/plugin/pyclewn.vim
include runtime/autoload/pyclewn.vim
include runtime/.pyclewn_keys.*
include runtime/doc/pyclewn.txt
include runtime/syntax/dbgvar.vim
include images/*
include pyclewn_install.py
include .pycheckrc
include foobar.py
include .pdbrc
include testsuite/*.py
include testsuite/*.c
include testsuite/*.cc
include testsuite/*.cpp
include testsuite/Makefile*
include testsuite/README
include testsuite/function_template_sub/Makefile
include testsuite/function_template_sub/*.cpp
include unittest2/*.py
