include NEWS
include COPYING
include INSTALL
include MANIFEST.in
include lib/__init__.py
include lib/clewn/runtime/pyclewn-*
include lib/clewn/*.vim
include foobar.py
include .pdbrc
include testsuite/*.py
include testsuite/*.c
include testsuite/*.cc
include testsuite/*.cpp
include testsuite/*.vim
include testsuite/Makefile*
include testsuite/README
include testsuite/function_template_sub/Makefile
include testsuite/function_template_sub/*.cpp
